.nav__list-mobile-item {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}
