.categories__list-item_classical {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../../images/categories/categories__list-item_classical.jpg);
  background-size: cover;
  background-position: 50% 40%;
}
