.bestsellers__banner {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  gap: 36px;
  width: calc(100% + 465px);
  align-items: center;
  border-top: 1px solid rgba(250, 249, 245, 0.2);
  border-bottom: 1px solid rgba(250, 249, 245, 0.2);
  animation: scroll-x 4s infinite linear;
}

@keyframes scroll-x {
  from {
    transform: translate(-465px);
  }

  to {
    transform: translate(0);
  }
}

@media screen and (max-width: 720px) {
  .bestsellers__banner {
    margin: 12px 0;
  }
}
