html {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100vw;
}

:root {
  --orange: #e35325;
  --white: #f9f7f1;
  --black: #0d0d0c;
  --grey: #f0ede5;
}

* {
  scroll-margin-top: 80px;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#root {
  width: 100vw;
  min-height: 100vh;

  font-family: "Neue Helvetica", sans-serif;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../../images/categories/categories__list-item_acoustic.jpg)
    url(../../images/categories/categories__list-item_accessories.jpg)
    url(../../images/categories/categories__list-item_bass.jpg)
    url(../../images/categories/categories__list-item_electric.jpg)
    url(../../images/categories/categories__list-item_ukulele.jpg);
}
