.categories__list-item {
  width: 150px;
  max-width: 100%;
  height: 600px;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--white);
  writing-mode: sideways-lr;
  text-align: center;
  transition: width 0.2s ease-in;
  text-decoration: none;
  flex: 1 1 auto;
}

.categories__list-item:hover {
  width: 282px;
}

@media screen and (max-width: 1366px) {
  .categories__list-item {
    width: calc(100px + 50 * (100% - 1000px) / 366);
  }
}
@media screen and (max-width: 1000px) {
  .categories__list-item {
    width: 100%;
    height: 60px;
    transition: height 0.2s ease-in;
    writing-mode: unset;
  }

  .categories__list-item:hover {
    width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 720px) {
  .categories__list-item {
    height: 40px;
    font-size: 22px;
  }

  .categories__list-item:hover {
    height: 140px;
  }
}
