.news-block__title-rect {
  margin: 0;

  font-style: normal;
  font-weight: 800;
  font-stretch: expanded;
  font-size: 18px;
  line-height: 135%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 90%;

  color: var(--black);

  text-overflow: ellipsis;
  white-space: nowrap;
}
