.bestsellers__banner-star {
  min-width: 60px;
  aspect-ratio: 1/1;
  background-image: url(../../../images/bestsellers__banner-star.svg);
  background-repeat: no-repeat;
  background-position: center;
}
