.nav__list-item {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 135%;
  text-decoration: none;
  color: inherit;
  height: 20px;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
  text-transform: capitalize;
}

.nav__list-item:hover {
  opacity: 0.7;
}
