.new-arrivals__button {
  background-image: url(../../../images/new-arrivals__button.svg);
  grid-area: button;
  width: 134px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  justify-self: end;
  margin-top: 73px;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
}

.new-arrivals__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .new-arrivals__button {
    display: none;
  }
}
