.cart {
  padding: 120px 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.cart__title {
  margin: 0;
  font-weight: 800;
  font-size: 42px;
  line-height: 110%;
  font-stretch: expanded;
  text-transform: uppercase;
  color: var(--black);
  width: 100%;
  border-bottom: 2px solid var(--black);
}

.cart__button-wrapper {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: 100%;
}

.cart__button {
  width: 200px;
  padding: 16px 0;
  border-radius: 2px;
  border: none;
  background-color: var(--orange);

  color: var(--white);
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  font-stretch: expanded;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.cart__button_inverse {
  background-color: var(--black);
  color: var(--white);
  width: 100px;
}

.cart__button:hover {
  opacity: 0.9;
}

.cart__list {
  width: 100%;
  list-style: none;
  margin: 0 0 60px;
  gap: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: space-between;
}

@media screen and (max-width: 880px) {
  .cart__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .cart {
    padding: 110px 5vw 0;
    gap: 8px;
  }

  .cart__title {
    text-align: center;
  }

  .cart__button-wrapper {
    justify-content: space-between;
    gap: 4px;
  }

  .cart__button {
    padding: 11px 0;
  }

  .cart__list {
    grid-template-columns: 1fr;
  }
}
