.new-arrivals {
  display: grid;
  grid-template-areas:
    "title title"
    "subtitle guitar-list"
    "button guitar-list";
  overflow-x: hidden;
  grid-template-columns: 1fr 2fr;
  padding: 0 60px 100px 0;
}

@media screen and (max-width: 720px) {
  .new-arrivals {
    grid-template-areas:
      "title title"
      "subtitle button"
      "guitar-list guitar-list";
    grid-template-columns: 2fr 1fr;
    padding: 0;
    margin-bottom: 30px;
  }
}

@media screen AND (max-width: 560px) {
  .new-arrivals {
    grid-template-areas:
      "title "
      "subtitle"
      "button"
      "guitar-list";
    grid-template-columns: 1fr;
  }
}
