.new-arrivals {
  display: grid;
  grid-template-areas:
    "title title"
    "subtitle guitar-list"
    "button guitar-list";
  overflow-x: hidden;
  grid-template-columns: fit-content 1fr;
  padding-bottom: 100px;
}

@media screen and (max-width: 720px) {
  .new-arrivals {
    grid-template-areas:
      "title"
      "subtitle"
      "guitar-list";
    grid-template-columns: 1fr;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
}
