.lead__subtitle {
  margin: 0 auto;
  width: max-content;
  font-style: normal;
  font-stretch: expanded;
  font-weight: 800;
  font-size: 12px;
  line-height: 110%;
  text-transform: uppercase;
  color: rgba(13, 13, 12, 0.9);
}
