.news-block__subtitle {
  grid-area: subtitle;
  background-color: rgba(227, 83, 37, 0.9);
  border-radius: 28px;
  text-align: center;
  box-sizing: border-box;
  padding: 6px 30px;
  width: max-content;
  margin: 0 0 0 30px;
  z-index: 1;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 110%;
  text-transform: uppercase;
  color: rgba(249, 247, 241, 0.9);
}