.categories__list {
  list-style: none;
  margin: 0 60px 70px;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 1240px;
}

@media screen and (max-width: 1000px) {
  .categories__list {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    gap: 1vw;
    margin: 0;
    height: 600px;
  }
}

@media screen and (max-width: 720px) {
  .categories__list {
    height: 400px;
  }
}

@media screen and (min-width: 1360px) {
  .categories__list {
    margin: 0 auto 70px;
  }
}
