.filter {
  grid-area: filter;
  display: flex;
  flex-direction: column;
  width: 160px;
  gap: 16px;
}

@media screen and (max-width: 1200px) {
  .filter {
    flex-direction: row;
    width: auto;
  }
}

@media screen and (max-width: 640px) {
  .filter {
    margin: 0 auto;
  }
}
