.categories__list-item_acoustic {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../../images/categories/categories__list-item_acoustic.jpg);
  background-position: 50% 25%;
  background-size: cover;
}
