.lead__title {
  width: 613px;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--black);
  font-stretch: expanded;
  margin: calc(50vh - 56px) auto 18px;
  /* top margin = half screen - header - font size */
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 46px;
    margin-top: 40vh;
    margin-bottom: 12px;
    text-align: center;
    max-width: 90vw;
  }
}

@media screen and (max-width: 560px) {
  .lead__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 382px) {
  .lead__title {
    margin-top: 30vh;
  }
}
