.lead__arrow {
  background-image: url(../../../images/lead__arrow.svg);
  background-size: cover;
  height: 81px;
  width: 28px;
  grid-area: button;
  opacity: 0.9;
}

@media screen and (max-width: 560px) {
  .lead__arrow {
    height: 45px;
    width: 16px;
  }
}
