.news-block_type_square {
  grid-area: square;
  display: grid;
  grid-template-areas:
    "."
    "subtitle"
    "title";
  gap: 10px;
  grid-template-rows: 1fr max-content max-content;
  justify-self: end;
}

.news-block_type_square:hover .news-block__image-square {
  opacity: 0.7;
}
