.news-block_type_rect {
  display: grid;
  grid-template-areas:
    "image image"
    "title arrow";
  gap: 10px;
  grid-template-columns: 1fr 60px;
  grid-template-rows: auto auto;
  overflow: hidden;
  transition: opacity 0.2s ease;
}

.news-block_type_rect:first-child {
  grid-area: first-rect;
}
.news-block_type_rect:last-child {
  grid-area: second-rect;
}

.news-block_type_rect:hover {
  opacity: 0.7;
}
