.section-title {
  font-family: "Neue Helvetica";
  font-stretch: expanded;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
  margin: 100px 0 60px 60px;
}
@media screen and (max-width: 720px) {
  .section-title {
    margin: 30px auto;
    max-width: 100%;
    grid-column: span 2;
    text-align: center;
  }
}
