.guitar-list {
  list-style: none;
  display: flex;
  padding-inline: 16px;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  justify-content: safe center;
  scrollbar-width: none;
  background: transparent;
  grid-area: guitar-list;
}

.guitar-list::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 720px) {
  .guitar-list {
    padding-inline: 8px;
  }
}
