.guitar-list {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  justify-content: safe center;
  scrollbar-width: none;
}

.guitar-list::-webkit-scrollbar {
  display: none;
}
