.footer__title {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 135%;
  text-transform: uppercase;
  color: rgba(249, 247, 241, 0.9);
  grid-area: title;
  margin: 0 0 12px;
}

@media screen and (max-width: 720px) {
  .footer__title {
    width: 100%;
    margin: 0;
  }
}
