.guitar-list__like-button {
  background-color: transparent;
  height: 100%;
  border: none;
  padding: 0;
  background-image: url(../../../images/like-button_white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  aspect-ratio: 1/1;
  grid-area: like;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.guitar-list__like-button_active {
  background-image: url(../../../images/like-button_white_active.svg);
}

.guitar-list__like-button:hover {
  opacity: 0.7;
}
