.guitar-list__item {
  position: relative;
  display: grid;
  min-width: 280px;
  max-width: 480px;
  grid-template-areas:
    "image image"
    ". ."
    "name like"
    "price like";
  grid-template-columns: auto min-content;
  grid-template-rows: 480px 6px max-content max-content;
  color: var(--white);
  text-decoration: none;
  flex: 1 1 420px;
  text-transform: capitalize;
  pointer-events: all;
}
@media screen and (max-width: 1200px) {
  .guitar-list__item {
    grid-template-rows: 420px 6px max-content max-content;
  }
}

@media screen and (max-width: 800px) {
  .guitar-list__item {
    grid-template-rows: 340px 6px max-content max-content;
  }
}

@media screen and (max-width: 640px) {
  .guitar-list__item {
    grid-template-rows: 50vh 6px max-content max-content;
  }
}
