.filter__wrapper {
  display: flex;
  padding-top: 12px;
  box-sizing: border-box;
}

.filter__checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

.filter__label {
  background-image: url("../../images/checkbox_unchecked.svg");
  background-repeat: no-repeat;
  background-position: 5% 0;

  font-weight: 450;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  user-select: none;
}

.filter__label:hover {
  opacity: 0.7;
}

.filter__checkbox:checked ~ .filter__label {
  color: var(--orange);
  background-image: url("../../images/checkbox_checked.svg");
}
