.categories__list-item_bass {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../../images/categories/categories__list-item_bass.jpg);
  background-size: cover;
  background-position: 50% 30%;
}
