.radio-input {
  appearance: none;
  width: 30px;
  height: 30px;
  margin: 0;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;

  --sunburst: radial-gradient(
    circle,
    rgba(255, 107, 27, 1) 10%,
    rgba(0, 0, 0, 1) 55%,
    rgba(0, 0, 0, 0) 60%
  );
  --black: radial-gradient(rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0) 60%);
  --natural: radial-gradient(#db822a 55%, transparent 60%);
  --teal: radial-gradient(rgb(15, 189, 189) 55%, transparent 60%);
  --purple: radial-gradient(rgb(185, 94, 166) 55%, transparent 60%);
  --blue: radial-gradient(rgb(31, 31, 179) 55%, transparent 60%);
  --cream: radial-gradient(rgb(243, 230, 157) 55%, transparent 60%);
}

.radio-input::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--radio-color);
  border-radius: 50%;

  border: 2px solid transparent;
}

.radio-input:checked::before {
  border: 2px solid gray;
}
