.news__grid {
  display: grid;
  grid-template-areas:
    "square first-rect"
    "square second-rect";
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 0 60px 100px;

  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .news__grid {
    grid-template-areas:
      "square"
      "first-rect"
      "second-rect";
    grid-template-columns: 1fr;
    margin: 0 auto 100px;
    max-width: 90%;
  }
}
